<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="40b9e659-a6b3-4127-9b7c-27f4cf5fee7d"
    Publisher="CN=随机抽取学号"
    Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="40b9e659-a6b3-4127-9b7c-27f4cf5fee7d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>随机抽取学号</DisplayName>
    <PublisherDisplayName>随机抽取学号</PublisherDisplayName>
    <Logo>Assets\RSSN_Logos\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="随机抽取学号.App">
      <uap:VisualElements
        DisplayName="随机抽取学号"
        Square150x150Logo="Assets\RSSN_Logos\Square150x150Logo.png"
        Square44x44Logo="Assets\RSSN_Logos\Square44x44Logo.png"
        Description="随机抽取学号"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\RSSN_Logos\Wide310x150Logo.png" Square71x71Logo="Assets\RSSN_Logos\SmallTile.png" Square310x310Logo="Assets\RSSN_Logos\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\RSSN_Logos\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>